In [34]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
# from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [35]:
dataset = pd.read_csv('heart.csv')

In [36]:
dataset.head(4)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0

In [37]:
column_name=["age","chest pain type","maximum heart rate achieved","exercise induced angina","oldpeak","number of major vessels","thal"]

In [38]:
X = dataset[["age","cp","thalach","exang","oldpeak","ca","thal"]]
y = dataset[["target"]]

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [40]:
classifer = DecisionTreeClassifier(max_features=7,max_depth = 7,random_state = 42)

In [41]:
classifer.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=7, max_features=7, random_state=42)

In [42]:
classifer.score(X_test, y_test)

0.9609756097560975

In [43]:
dataset[dataset["target"]==1]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
10,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
12,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1
15,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1
16,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,45,1,1,128,308,0,0,170,0,0.0,2,0,2,1
1014,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1
1019,47,1,0,112,204,0,1,143,0,0.1,2,0,2,1
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1

In [44]:
user_input=[[50,0,159,0,0.0,0,2]]

In [45]:
classifer.predict(user_input)

C:\Users\welcome\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [46]:
import pickle
with open('Heart_Disease_Prediction','wb') as file:
    pickle.dump(classifer,file)

In [47]:
with open('Heart_Disease_Prediction','rb') as file:
    mp = pickle.load(file)
    print(mp.predict(user_input))

[1]

C:\Users\welcome\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(